@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: dimgray;
}

body {
  min-height: 100vh;
}
